
.modal-body img {
	max-width: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.main-content {
    background-color: #120e0f;
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 20px;
}

.product-details h3 a {
    font-weight: 500;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}
